{% extends 'base.html' %}

{% block title %} Вход {% endblock %}

{% block head %}Войти{% endblock %}

{% block body %}
    {% load static %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '/assets/img/494938.jpg' %}" alt="...">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-danger">Войти</button></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}Новая жизнь - новые правила{% endblock%}